// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$mainBlue: #2196F3;
$green: #4CAF50;

.navbar-virtual-handshake {
  background-color: ghostwhite;
  margin: 0;
  padding: 10px;
}

.container-fluid {
  padding-top: 10px;
  color: $mainBlue;
  font-size: 25px;
}
.section-main-first{
  height: auto;
  position:relative;
}
.section-main-first .img-responsive {
  //box-shadow: 0px 3px 15px 1px #000000;
  opacity: 0.8;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
}

*{
  font-family: "Roboto", sans-serif !important;
}

.section-main-first-content{
  line-height: 45px;
  width: 100%;
  position: absolute; // position on top of the background div
  top: 70%;
  //padding-bottom: 60px;
  color: whitesmoke;
  font-size: 50px;
}

#subscribe-container{
  position: absolute;
  top:10%;
  left: 60%;
}
.section-main-first-content .Buyer{

  color: $mainBlue;
  border-right: 3px solid $green;
  border-bottom-right-radius: 20px;
}

.section-main-first-content .Vendor{
  color: black;
  border-top-left-radius: 20px;
  border-left: 3px solid $green;
}
.section-main-second-content{
  height: 500px;
}
.section-main-second-content .Buyer{
  //border-right: 2px solid gainsboro;
  height: 500px;
}

.section-main-second-content .Vendor{
  //border-left: 2px solid gainsboro;
  height: 500px;
}


.section-live-demo{
  background-color: gainsboro;
  height: 500px;
}

.section-live-demo-header{
  text-align: center;
  padding: 30px 0;
  color: $green;
}

#subscribe-name{
  color: black;
}

.subscribe-button{
  background-color: $green;
  color: white;
}